.our-menu{
    padding-block: 6.625rem;
    background-color: var(--color-white);
}
.our-menu-title {
    font-size: clamp(3rem, 2.5598rem + 1.0836vw, 3.4375rem);
    color: var(--color-font);
    text-align: center;
    margin-block-end: 4rem;
    font-weight: 500;
}
.our-menu-cards {
    display:flex;
    align-items: center;
    gap:1.5rem;
}
.our-menu-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.75rem;
    background-color:var(--color-tertiary);
    border-radius: 0.75rem;
    padding: 2.3125rem 2.125rem 1.875rem;
}
.our-menu-card-image {
    width: 2.8125rem;
    height: 2.8125rem;
    margin: 2.375rem 2.125rem 1.875rem;
}
.our-menu-card-title {
    font-size: 1.5rem;
    color: var(--color-font);
    margin-block-end: 1rem;
    font-weight: 700;
    font-family: var(--font-text);
    line-height: 125%;
}
.our-menu-card-link {
    color: var(--color-primary);
    font-weight: 700;
    text-decoration: none;
}
.our-menu-card-img-content {
    position: relative;
    margin: block end 1.5625rem;
    &::after{
        content: "";
        display: inline-block;
        background-color: rgb(115 120 101 / 0.2);
        width: 100%;
        border-radius: 50%;
        aspect-ratio: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        }
}

@media (width <= 1024px) {
    .our-menu-cards {
        flex-wrap: wrap;
    }
    .our-menu-card {
        width: calc(50% - 1rem);
    }
}
@media (width <= 768px){
    .our-menu {
        padding-block: 3.5rem;
    }
}
@media (width <= 650px){
    .our-menu-card {
        width: 100%;
    }
}

    