.recipe {
    padding-block-end: 88px;
    display: grid;
    grid-template-columns: 25.86% 71.25%;
}
.recipe-ingredients-title {
   font-weight: 500;
   line-height: 110%;
   font-size: 55px;
}
.recipe-ingredients-crush {
    margin-block: 20px 50px;
    font-weight: 600;
    line-height: 150%;
    font-size: 20px;
}
.recipe-ingredients-cheesecake{
    margin-block: 50px;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}
.recipe-ingredients-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-weight: 500;
    line-height: 130%;
    font-size: 1.25rem;
}
.checkbox-recipe {
    appearance: none; 
    width: 1.5625rem;
    height: 1.5625rem;
    border: 2px solid var(--color-primary); 
    border-radius: 50%; 
    background-color: var(--color-white); 
    cursor: pointer;
    position: relative;
    margin-right: 1.25rem;
    flex-shrink: 0;
}
.checkbox-recipe:checked {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary); 
}
.checkbox-recipe:checked::after {
    content: "✔";
    color: white;
    font-size: 0.875rem;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
label {
    display: flex;
    align-items: center;
}
.recipe-instructions {
   margin-left: 3rem;
}
.recipe-instructions-title {
    margin-block-end: 1.25rem;
    font-family: var(--font-text);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 125%;
}
.recipe-instructions-desc {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 155%;
}
.recipe-instructions-directions {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
ol li::marker {
    font-weight: bold; 
}
.recipe-instructions-steps {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 155%;
}

