.services {
    padding-block: 7.5rem;
}

.services-title{
    color: var(--color-font);
    font-size: 3.4375rem;
    font-weight: 500;
    line-height: 110%;
    margin-block-end: 4rem;
    max-width: 42.1875rem;
}

.services-cards{
    display: flex;   
    align-items: center;
    gap: 1.5rem;
}

.services-card-img{
    margin-block-end: 1.875rem;
}

.services-card-title{
    font-family: var(--font-text);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 125%;
    color: var(--color-font);
    margin-bottom: 15px;
}

.services-card-desc{
    font-family: var(--font-text);
    font-size: 1rem;
    color: #414536;
}


